# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Tic-Tac-Toe/Tic-Tac-Toe.project
Tic-Tac-Toe/Tic-Tac-Toe.mk
Tic-Tac-Toe/.clangd
Tic-Tac-Toe/.clang-format
src/Tic-Tac-Toe.project
src/Tic-Tac-Toe.mk
src/.clangd
src/.clang-format
